<!DOCTYPE html>
<html lang="en">
<head>
    <title>Big Data Solutions start</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
    <h1>Big Data Solutions</h1>
    <div class="button-box">
        <button type="button" onclick="window.location.href='/price_analysis'">Price analysis</button>
        <button type="button" onclick="window.location.href='/start_scraping'">Web Scraping</button>
        <button type="button" onclick="window.location.href='/best_location'">Best Location</button>
        <button type="button" onclick="window.location.href='/model'">Model</button>
    </div>
    <footer>
        <div class="footer-box">
            <p>© 2024 - Big Data Solutions - .. Hotel Group ..</p>
        </div>
        
    </footer>
</body>
</html>